body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.movie-card {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
}

.movie-info {
  position: absolute;
  bottom: 0;
  background: rgba(52, 51, 51, 0.7);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.actors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.actor-card {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actor-name-overlay {
  background-color: rgba(115, 113, 113, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
}
